body {
    background-image: url("../images/darkness.png");
    height: 100vh;
    font-family: 'Roboto Slab', serif;  
    }

.content {
    max-width: 960px;
    margin: auto;
    margin-bottom: 40px;
}

#caro {
        max-width: 960px;
        margin: auto;
        margin-bottom: 40px;
}

#Selfie {
    float: left;
    margin-right: 30px;
}

#aboutTitle {
    margin-bottom: 20px;
}

.hero {
    margin-bottom: 40px;
}

.hero-head {
    background-color: #0d5dd6
}

.hero.is-success a.navbar-item:hover, .hero.is-success a.navbar-item.is-active, .hero.is-success .navbar-link:hover, .hero.is-success .navbar-link.is-active {
    background-color: #247cff
} 

.navbar-item {
    background-color: #0d5dd6
}

#navbarMenuHeroC {
    background-color: #0d5dd6
}

/* .hero.is-success {
    background-color: #247cff
} */

footer {
    background-color: #0d5dd6;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    clear: both;
    width: 100%;
    text-align: center;
    }

#contactForm {
    background-color: grey;
}

#headerContainer {
    max-width: 960px;
    margin: auto;
    padding: 0px 30px;
}

.hidden {
    visibility: hidden;
}

.PortfolioImage {
    max-width: 320px;
    max-height: 240px
}

.card-content {
    background-image: url("../images/darkness.png");
}
